/Temp
/Library/ShaderCache
/Library/Artifacts
/Library/PackageCache
/Library/PackageCache
/Library/StateCache
Library/SourceAssetDB-lock
Library/SourceAssetDB
Library/ShaderCache.db
Library/AnnotationManager
Library/ArtifactDB-lock
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/APIUpdater/project-dependencies.graph
Library/UIElements/EditorWindows/UnityEditor.PackageManager.UI.PackageManagerWindow.pref
Library/Style.catalog
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/PackageManager/ProjectCache.md5
Library/PackageManager/ProjectCache
Library/ScriptMapper
